.grille{
    -fx-background-image : url("/fond1.png");
    -fx-background-position: center center;
    -fx-background-size : 100% 100%;
}

.button{
    -fx-text-fill:red;
    -fx-font-size:50px;
    -fx-cursor:hand;
    -fx-background-color:none;
    -fx-border-color:blue;
    -fx-width:5px;
}

.VBox{
    -fx-alignment:Right;
    -fx-background-color:blue;
}

.checkBox{
    -fx-margin:10px;
}

.Titre{
    -fx-font-size:50px;
    -fx-underline:true;
}